.shap1
{
    margin-top: 70px;
    background-size: cover;
    background-image: url('pic/photo.png');
    max-width: 100%;
    /* 2011px;*/
    background-position: center center;
    /* height: 364px; */
    height: 364px;
 
}

.shap12
{
    height: 1000px;
}


.end0
{
    background-color:#262626;
    
}

#start
{
    position: absolute; 
    margin-top: -180px; 
}




